/* todos los etilos de la parte de la tienda */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

section {
    margin: 2em;
}

section h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 0.5em;
}

select, button {
    margin-right: 1em;
}

select {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 0.5em;
    padding: 0.5em;
    border: 1px solid #ddd;
}

option {
    padding: 0.5em;
}

button#buscarBtn {
   
    background-color: #4CAF50;
    color:white ;
    border:none ;
    padding :0.5em 1em ;
    cursor:pointer ;
    height :3.3em ;
  }

button#buscarBtn:hover {
   background-color:#3e8e41
}

button#buscarBtn:active {
   background-color:#3e8e41 ;
   box-shadow :0 1px #666 ;
   transform :translateY(1px)
}

.colchon {
   background-color:#f9f9f9 ;
   border :1px solid #ddd ;
   padding :1em ;
   margin-bottom :1em
}

.colchon h2 {
   margin-top :0
}

.colchon button {
   background-color:#4CAF50 ;
   color:white ;
   border:none ;
   padding :0.5em 1em ;
   cursor:pointer
}

.colchon button:hover {
   background-color:#3e8e41
}

.colchon button:active {
   background-color:#3e8e41 ;
   box-shadow :0 1px #666 ;
   transform :translateY(1px)
}

#carrito {
   border :1px solid #ddd ;
   padding :1em ;
   background-color:#f9f9f9 ;
   position :fixed ;
   right :2em ;
   top :2em 
}

#carritoList {
   max-height :300px ;
   overflow:auto
}
